
	.container {
		width: 70%;
		margin: auto;
		text-align: center;
	}

	.dice {
		text-align: center;
		display: inline-block;
		margin: 10px;
	}

	body {
		background-color: #2618f3;
		margin: 0;
	}

	h1 {
		margin: 30px;
		font-family: "Lobster", cursive;
		text-shadow: 5px 0 #232931;
		font-size: 4.5rem;
		color: #df0a0a;
		text-align: center;
	}

	p {
		font-size: 2rem;
		color: #ea0f0f;
		font-family: "Indie Flower", cursive;
	}

	img {
		width: 40%;
        border-radius: 20%;
        height: auto;
	}

	.bottom {
		padding-top: 30px;
	}

	.button {
		background: #14e608;
		
		border-radius: 7px;
		color: #ffff;
		font-size: 30px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;
        text-shadow: 5px 0 #232931;
	}

	.button:hover {
		background: #232931;
		text-decoration: none;
	}

